* {
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	line-height: 1.5em;

	background-color: #282828;
	color: #f9f5d7;
}

body {
	width: 850px;
	margin: 0 auto;
}

header,
section,
footer {
	border: 1px dotted #d89921;
	border-radius: 2px;

	padding: 10px;
	margin: 10px 0 0 0;

	text-align: left;
}

footer {
	margin: 10px 0;
}

header h1,
section h1,
section h2,
section h3,
footer h2 {
	text-align: center;
}


b, strong {
	font-weight: bold;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
	content: '# ';
	color: #f9f5d7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
	color: #b8bb26;
	font-weight: normal;
}

.monospace, code {
	font-family: 'Roboto Mono', monospace;
}

ul {
	list-style: none;
}

ul > li::before {
	content: '>';

	font-weight: bold;
	color: #b8bb26;

	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.sidebar {
	position: fixed;
	float: left;
	width: 100px;
	margin: 25px;
	margin-top: 0;
	height: 100%;
}

.content {
	float: right;
	width: 650px;
	margin: 0 25px;
}

a:link, a:visited {
	color: #83a598;
	text-decoration: none;
}

a:hover {
	color: #458588;
	text-decoration: underline;
}

.gallery {
	padding: 0;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
}

img[class="gallery-item"] {
	padding: 0px;
	margin: 5px;

	width: 300px;
	height: 300px;
	object-fit: cover;

	border: 2px dotted #d89921;
}